mixin button(type='button', text)
  button.button(type= type)= text
    block

mixin input(type="text", name, placeholder)
  input.input(type=type, name=name, placeholder=placeholder)

mixin svg(width, height, name, className)
  svg(width=width height=height class=className)
    use(xlink:href="#icon-" + name)


