mixin button(text, type='button')
  button.button(type= type)= text
    block

mixin input(placeholder, name, type="text")
  input.input(type=type, name=name, placeholder=placeholder)

mixin select(name)
  select.select(name=name)
    block

mixin svg(width, height, name, className)
  svg(width=width height=height class=className)
    use(xlink:href="#icon-" + name)
