ul.products-list
  each product in products
    li.products-list__item
      article.product
        img(src=product.img, alt=product.name)

        .product__center
          h3.product__title.title=product.name
          p.product__desc=product.description

          include ../shared/counter

        .product__right
          p.price=product.price
          +button('Удалить')
