ul.products-list
  each product in products
    li.products-list__item
      article.product
        img.product__img(src=product.img, alt=product.name, width='150', height='150')

        .product__center
          h3.product__title.title.--small=product.name
          p.product__desc=product.description

          .product__counter
            include ../shared/counter

        .product__right
          p.product__price=product.price
          +button('Удалить', 'product__btn --link')
